PORT=5000

MONGO_URI=mongodb+srv://pandeyvipul883_db_user:sJJBq1C6TKjpCR0R@3w-social-cluster.3ban6yb.mongodb.net/

JWT_SECRET=cd5b912a0f4579d7ed59875764cc9109aca436befd13452a3cf5448c4ce91ff3
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=ehvghdtx
CLOUDINARY_API_KEY=635572854769229
CLOUDINARY_API_SECRET=VaietzALtKaWyuNy3CIqhMiJjWc
